.hi-fi-wireframe .image-5 {
  background: url('assets/images/Image30.png') 50% / cover no-repeat;
  margin: 6px 0;
  width: 178px;
  height: 22px;
}
.hi-fi-wireframe .watches {
  margin-right: 17px;
  width: 82px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #333333;
}
.hi-fi-wireframe .eyewear {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #333333;
}
.hi-fi-wireframe .group-13 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 445px;
  box-sizing: border-box;
}
.hi-fi-wireframe .container-72 {
  margin: 0 576.9px 90px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 533.1px;
  box-sizing: border-box;
}
.hi-fi-wireframe .line-1 {
  background: #000000;
  margin: 0 269px 97px 0;
  width: 95px;
  height: 0px;
}
.hi-fi-wireframe .discover {
  margin-right: 290.8px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #333333;
}
.hi-fi-wireframe .line-2 {
  background: #333333;
  margin: 0 290px 43px 0;
  width: 74px;
  height: 0px;
}
.hi-fi-wireframe .shape-3 {
  width: 21.3px;
  height: 18.8px;
}
.hi-fi-wireframe .add-cart {
  margin: 8px 18.7px 7.2px 0;
  display: flex;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.hi-fi-wireframe .add-to-cart {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
.hi-fi-wireframe .container-36 {
  background: #D84727;
  position: relative;
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  padding: 14px 0;
  width: 208px;
  box-sizing: border-box;
}
.hi-fi-wireframe .shape-4 {
  margin: 6.8px 3.5px 0 0;
  width: 15.1px;
  height: 17.7px;
}
.hi-fi-wireframe .oval {
  margin: 0 0px 1.5px 0;
  width: 3.7px;
  height: 4.5px;
}
.hi-fi-wireframe .shape-6 {
  margin-left: 0px;
  width: 3.7px;
  height: 17.2px;
}
.hi-fi-wireframe .container-14 {
  margin: 1px 3.5px 0.2px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 3.7px;
  height: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe .shape-5 {
  margin: 6.8px 3.7px 0px 0;
  width: 15.1px;
  height: 17.7px;
}
.hi-fi-wireframe .oval-1 {
  margin: 0 0px 1.5px 0;
  width: 3.7px;
  height: 4.5px;
}
.hi-fi-wireframe .shape-7 {
  margin-left: 0px;
  width: 3.7px;
  height: 17.2px;
}
.hi-fi-wireframe .container-40 {
  margin: 1px 4.3px 0.2px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 3.7px;
  height: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe .shape-8 {
  margin-bottom: 0.2px;
  width: 3.7px;
  height: 24.2px;
}
.hi-fi-wireframe .container-65 {
  margin-bottom: 2.5px;
  display: flex;
  flex-direction: row;
  width: 56.3px;
  box-sizing: border-box;
}
.hi-fi-wireframe .shape-9 {
  margin-right: 15.3px;
  width: 12.4px;
  height: 5.2px;
}
.hi-fi-wireframe .container-80 {
  border: 2px solid #D84727;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15.4px 0 14.4px 0;
  width: 140px;
  box-sizing: border-box;
}
.hi-fi-wireframe .container-77 {
  display: flex;
  flex-direction: row;
  width: 364px;
  box-sizing: border-box;
}
.hi-fi-wireframe .container-52 {
  background: #F1DDC9;
  position: relative;
  margin-bottom: 211px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 224px 0 50px 0;
  width: 1110px;
  box-sizing: border-box;
}
.hi-fi-wireframe .image-7 {
  background: url('assets/images/Image7.png');
  position: absolute;
  right: 8px;
  bottom: 8px;
  width: 330px;
  height: 143px;
}
.hi-fi-wireframe .luxurious-eyewear {
  margin-bottom: 3px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 0.8px;
  line-height: 1.143;
  color: #000000;
}
.luxurious-eyewear-sub13 {
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 0.8px;
  line-height: 1.333;
  color: #333333;
}
.luxurious-eyewear-sub12 {
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 0.8px;
  line-height: 1.333;
}
.luxurious-eyewear {
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 0.8px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe .see-the-beauty-of-exotic-world-with-the-luxurious-glasses {
  margin-bottom: 6px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  color: #777777;
}
.hi-fi-wireframe .discover-now-1 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #333333;
}
.hi-fi-wireframe .line-3 {
  background: #333333;
  align-self: flex-start;
  width: 115px;
  height: 0px;
}
.hi-fi-wireframe .container-16 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hi-fi-wireframe .container-45 {
  background: #FFFFFF;
  position: relative;
  margin-right: 30px;
  padding: 32px 32px 116px 32px;
  width: 540px;
  box-sizing: border-box;
}
.hi-fi-wireframe .comfortable-watches {
  margin-bottom: 3px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 0.8px;
  line-height: 1.143;
  color: #000000;
}
.comfortable-watches-sub13 {
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 0.8px;
  line-height: 1.333;
  color: #333333;
}
.comfortable-watches-sub12 {
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 0.8px;
  line-height: 1.333;
}
.comfortable-watches {
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 0.8px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe .feels-the-balancing-function-and-beauty-in-our-wooden-watches {
  margin-bottom: 6px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  color: #777777;
}
.hi-fi-wireframe .discover-now {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #333333;
}
.hi-fi-wireframe .line-4 {
  background: #333333;
  align-self: flex-start;
  width: 115px;
  height: 0px;
}
.hi-fi-wireframe .container-26 {
  margin: 0 9.2px 100px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hi-fi-wireframe .image-8 {
  background: url('assets/images/Image8.png');
  margin-top: 30px;
  width: 155px;
  height: 152px;
}
.hi-fi-wireframe .container-66 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe .container-81 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px 21px 16px 32px;
  box-sizing: border-box;
}
.hi-fi-wireframe .container-74 {
  margin-bottom: 92px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe .monthly-deals {
  margin: 0 851.3px 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 0.7px;
  line-height: 1.111;
  color: #333333;
}
.hi-fi-wireframe .line-7 {
  background: #000000;
  margin: 0 982px 99px 0;
  width: 128px;
  height: 0px;
}
.hi-fi-wireframe .singo-maple {
  margin: 0 5.4px 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe .off-1 {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #777777;
}
.hi-fi-wireframe .rp-15000001 {
  margin: 0 2px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #777777;
}
.hi-fi-wireframe .rp-12640001 {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe .container-71 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hi-fi-wireframe .line-5 {
  background: #D93F3F;
  position: absolute;
  left: 24px;
  bottom: 91px;
  width: 104px;
  height: 0px;
}
.hi-fi-wireframe .container-38 {
  background: #FFFFFF;
  position: relative;
  margin-bottom: 31px;
  padding: 213px 24px 48px 24px;
  width: 255px;
  box-sizing: border-box;
}
.hi-fi-wireframe .singo-ebony {
  margin-bottom: 2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe .off {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #777777;
}
.hi-fi-wireframe .rp-1500000 {
  margin: 0 2px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #777777;
}
.hi-fi-wireframe .rp-1264000 {
  margin-bottom: 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe .shape-10 {
  width: 20px;
  height: 18.4px;
}
.hi-fi-wireframe .love {
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.hi-fi-wireframe .container-37 {
  border: 1px solid #D84727;
  position: relative;
  margin-right: 8px;
  display: flex;
  padding: 10px 10px 10.6px 9px;
  width: 39px;
  height: 39px;
  box-sizing: border-box;
}
.hi-fi-wireframe .add-to-cart-1 {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 1.5;
  color: #FFFFFF;
}
.hi-fi-wireframe .container-51 {
  background: #D84727;
  position: relative;
  display: flex;
  padding: 8px 0.3px 7px 0;
  width: 158px;
  box-sizing: border-box;
}
.hi-fi-wireframe .container-73 {
  margin-left: 2px;
  display: flex;
  flex-direction: row;
  width: 205px;
  box-sizing: border-box;
}
.hi-fi-wireframe .container-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hi-fi-wireframe .line-6 {
  background: #D93F3F;
  position: absolute;
  left: 24px;
  bottom: 122px;
  width: 104px;
  height: 0px;
}
.hi-fi-wireframe .container-8 {
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.04);
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 213px 24px 16px 24px;
  box-sizing: border-box;
}
.hi-fi-wireframe .rakai-ebony {
  margin: 0 3.2px 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe .off-2 {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #777777;
}
.hi-fi-wireframe .rp-12800003 {
  margin: 0 2px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #777777;
}
.hi-fi-wireframe .rp-1118000 {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe .container-15 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hi-fi-wireframe .line-51 {
  background: #D93F3F;
  position: absolute;
  left: 24px;
  bottom: 91px;
  width: 104px;
  height: 0px;
}
.hi-fi-wireframe .container-6 {
  background: #FFFFFF;
  position: relative;
  margin-bottom: 31px;
  padding: 213px 24px 48px 24px;
  width: 255px;
  box-sizing: border-box;
}
.hi-fi-wireframe .way-kambas-mini-maple {
  margin-bottom: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe .off-3 {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #777777;
}
.hi-fi-wireframe .rp-12800004 {
  margin: 0 2px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #777777;
}
.hi-fi-wireframe .rp-1024000 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe .container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hi-fi-wireframe .line-52 {
  background: #D93F3F;
  position: absolute;
  left: 24px;
  bottom: 59px;
  width: 104px;
  height: 0px;
}
.hi-fi-wireframe .container-5 {
  background: #FFFFFF;
  position: relative;
  margin-bottom: 31px;
  display: flex;
  padding: 213px 25.2px 16px 24px;
  box-sizing: border-box;
}
.hi-fi-wireframe .container-70 {
  margin-bottom: 110px;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  width: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe .recent-news {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 0.7px;
  line-height: 1.111;
  color: #333333;
}
.hi-fi-wireframe .line-8 {
  background: #000000;
  margin-bottom: 179px;
  align-self: flex-start;
  width: 128px;
  height: 0px;
}
.hi-fi-wireframe .where-to-travel {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 2;
  color: #777777;
}
.hi-fi-wireframe .matoa-where-to-travel-yogyakarta {
  margin-bottom: 45px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 0.7px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe .discover-1 {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
  color: #D84727;
}
.hi-fi-wireframe .container-27 {
  border: 2px solid #D84727;
  position: relative;
  display: flex;
  align-self: flex-start;
  padding: 15px 0.7px 16px 0;
  width: 160px;
  box-sizing: border-box;
}
.hi-fi-wireframe .container-33 {
  margin: 0 311.5px 4px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hi-fi-wireframe .rectangle-21 {
  background: #F1DDC9;
  position: relative;
  margin-top: 21px;
  width: 640px;
  height: 458px;
}
.hi-fi-wireframe .container-7 {
  margin-bottom: 228px;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  width: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe .maple-series {
  margin-right: 20px;
  width: 219px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 0.7px;
  line-height: 1.111;
  color: #333333;
}
.hi-fi-wireframe .ebony-series {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 0.7px;
  line-height: 1.111;
  color: #333333;
}
.hi-fi-wireframe .featured {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 0.7px;
  line-height: 1.111;
  color: #333333;
}
.hi-fi-wireframe .container-24 {
  margin: 0 198.7px 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 911.3px;
  box-sizing: border-box;
}
.hi-fi-wireframe .line-9 {
  background: #333333;
  width: 65px;
  height: 0px;
}
.hi-fi-wireframe .line-12 {
  background: #333333;
  width: 65px;
  height: 0px;
}
.hi-fi-wireframe .line-13 {
  background: #333333;
  width: 65px;
  height: 0px;
}
.hi-fi-wireframe .container-18 {
  margin: 0 285px 51px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 825px;
  box-sizing: border-box;
}
.hi-fi-wireframe .image-15 {
  background: url('assets/images/Image15.png');
  width: 68.1px;
  height: 100px;
}
.hi-fi-wireframe .container-64 {
  background: #F1DDC9;
  position: relative;
  margin-right: 24px;
  display: flex;
  padding: 16px 10.9px 15px 0;
  width: 131px;
  height: 131px;
  box-sizing: border-box;
}
.hi-fi-wireframe .way-kambas-maple {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe .rp-12800002 {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 0.6px;
  line-height: 1.429;
  color: #222222;
}
.hi-fi-wireframe .container-25 {
  margin: 0 44.1px 19px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hi-fi-wireframe .image-20 {
  background: url('assets/images/Image20.png');
  width: 65.2px;
  height: 100px;
}
.hi-fi-wireframe .container-31 {
  background: #F1DDC9;
  position: relative;
  margin-right: 24px;
  display: flex;
  padding: 16px 9.8px 15px 0;
  width: 131px;
  height: 131px;
  box-sizing: border-box;
}
.hi-fi-wireframe .tomia-ebony {
  margin-bottom: 28px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 1.667;
  color: #333333;
}
.hi-fi-wireframe .rp-960000 {
  margin-right: 16.2px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 1.667;
  color: #222222;
}
.hi-fi-wireframe .container-43 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.hi-fi-wireframe .rp-1280000 {
  position: absolute;
  left: 4px;
  bottom: 36px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #777777;
}
.hi-fi-wireframe .line-14 {
  background: #D93F3F;
  position: absolute;
  left: 0px;
  bottom: 46px;
  width: 104px;
  height: 0px;
}
.hi-fi-wireframe .container-53 {
  position: relative;
  margin: 0 75.1px 23px 0;
  display: flex;
  box-sizing: border-box;
}
.hi-fi-wireframe .image-17 {
  background: url('assets/images/Image17.png');
  width: 70.5px;
  height: 100px;
}
.hi-fi-wireframe .container-17 {
  background: #F1DDC9;
  position: relative;
  margin-right: 24px;
  display: flex;
  padding: 16px 0.5px 15px 0;
  width: 131px;
  height: 131px;
  box-sizing: border-box;
}
.hi-fi-wireframe .sikka-ebony-maple {
  margin: 0 6.7px 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe .rp-1198000 {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 0.6px;
  line-height: 1.429;
  color: #222222;
}
.hi-fi-wireframe .container-44 {
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.hi-fi-wireframe .container-63 {
  margin: 0 14.1px 28px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe .image-21 {
  background: url('assets/images/Image21.png');
  width: 53.2px;
  height: 100px;
}
.hi-fi-wireframe .container-29 {
  background: #F1DDC9;
  position: relative;
  margin: 4px 24px 0 0;
  display: flex;
  padding: 16px 7.8px 15px 0;
  width: 131px;
  height: 131px;
  box-sizing: border-box;
}
.hi-fi-wireframe .kaili {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 1.667;
  color: #333333;
}
.hi-fi-wireframe .rp-9500001 {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 0.6px;
  line-height: 1.429;
  color: #222222;
}
.hi-fi-wireframe .container-10 {
  margin: 4px 69px 47px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hi-fi-wireframe .image-22 {
  background: url('assets/images/Image22.png');
  width: 45.2px;
  height: 100px;
}
.hi-fi-wireframe .container-75 {
  background: #F1DDC9;
  position: relative;
  margin: 4px 24px 0 0;
  display: flex;
  padding: 16px 5.8px 15px 0;
  width: 131px;
  height: 131px;
  box-sizing: border-box;
}
.hi-fi-wireframe .mori {
  margin-bottom: 5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 1.667;
  color: #333333;
}
.hi-fi-wireframe .rp-950000 {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 0.6px;
  line-height: 1.429;
  color: #222222;
}
.hi-fi-wireframe .container-62 {
  margin: 4px 69px 46px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hi-fi-wireframe .image-18 {
  background: url('assets/images/Image18.png');
  width: 113px;
  height: 55px;
}
.hi-fi-wireframe .container-11 {
  background: #F1DDC9;
  position: relative;
  margin: 4px 24px 0 0;
  display: flex;
  padding: 38px 9px;
  width: 131px;
  height: 131px;
  box-sizing: border-box;
}
.hi-fi-wireframe .lore-walnut {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 1.667;
  color: #333333;
}
.hi-fi-wireframe .rp-12800001 {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 0.6px;
  line-height: 1.429;
  color: #222222;
}
.hi-fi-wireframe .container-61 {
  margin-bottom: 51px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hi-fi-wireframe .container-69 {
  margin: 0 14.1px 32px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe .image-16 {
  background: url('assets/images/Image16.png');
  width: 63.1px;
  height: 100px;
}
.hi-fi-wireframe .container-32 {
  background: #F1DDC9;
  position: relative;
  margin-right: 24px;
  display: flex;
  padding: 16px 9.9px 15px 0;
  width: 131px;
  height: 131px;
  box-sizing: border-box;
}
.hi-fi-wireframe .sunda {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 1.667;
  color: #333333;
}
.hi-fi-wireframe .rp-11700002 {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 0.6px;
  line-height: 1.429;
  color: #222222;
}
.hi-fi-wireframe .container-2 {
  margin: 0 44.1px 47px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hi-fi-wireframe .image-23 {
  background: url('assets/images/Image23.png');
  width: 62.2px;
  height: 100px;
}
.hi-fi-wireframe .container-55 {
  background: #F1DDC9;
  position: relative;
  margin-right: 24px;
  display: flex;
  padding: 16px 8.8px 15px 0;
  width: 131px;
  height: 131px;
  box-sizing: border-box;
}
.hi-fi-wireframe .alor {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 1.667;
  color: #333333;
}
.hi-fi-wireframe .rp-1170000 {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 0.6px;
  line-height: 1.429;
  color: #222222;
}
.hi-fi-wireframe .container-50 {
  margin: 0 44.1px 47px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hi-fi-wireframe .image-19 {
  background: url('assets/images/Image19.png');
  width: 57.2px;
  height: 100px;
}
.hi-fi-wireframe .container-41 {
  background: #F1DDC9;
  position: relative;
  margin-right: 24px;
  display: flex;
  padding: 16px 0 15px 0.2px;
  width: 131px;
  height: 131px;
  box-sizing: border-box;
}
.hi-fi-wireframe .way-kambas-limited-edition {
  position: relative;
  margin-bottom: 35px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe .container-23 {
  margin: 0 49px 55px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe .line-20 {
  background: #999999;
  margin: 30px 0 35.7px 0;
  width: 391px;
  height: 0px;
}
.hi-fi-wireframe .see-more {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.6px;
  color: #D84727;
}
.hi-fi-wireframe .container-57 {
  border: 1px solid #D84727;
  position: relative;
  display: flex;
  padding: 16px 0 16px 0.4px;
  width: 272px;
  box-sizing: border-box;
}
.hi-fi-wireframe .line-21 {
  background: #999999;
  margin: 30px 0 35.7px 0;
  width: 391px;
  height: 0px;
}
.hi-fi-wireframe .container-49 {
  margin-bottom: 120px;
  display: flex;
  flex-direction: row;
  column-gap: 28px;
  width: 1110px;
  box-sizing: border-box;
}
.hi-fi-wireframe .rectangle-34 {
  background: #F1DDC9;
  position: relative;
  margin: 0 249px 4px 0;
  width: 515px;
  height: 300px;
}
.hi-fi-wireframe .testimonials {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 0.7px;
  line-height: 1.111;
  color: #333333;
}
.hi-fi-wireframe .line-15 {
  background: #000000;
  margin-bottom: 53px;
  align-self: flex-start;
  width: 128px;
  height: 0px;
}
.hi-fi-wireframe .loving-my-new-kaili-watch-frommatoa-id-the-first-ever-indonesian-watch-local-brand-that-uses-wood-as-their-main-material-like-any-other-matoa-products-kaili-is-inspired-by-indonesian-heritage {
  margin-bottom: 50px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.75;
  color: #333333;
}
.hi-fi-wireframe .gita-savitri {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.7px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe .container-12 {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hi-fi-wireframe .container-59 {
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe .content-creator-influencer {
  margin: 0 0 83px 293.4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 2;
  color: #777777;
}
.hi-fi-wireframe .vector-4 {
  width: 31px;
  height: 22px;
}
.hi-fi-wireframe .left {
  margin: 4px 26px 4px 0;
  display: flex;
  width: 64px;
  height: 64px;
  box-sizing: border-box;
}
.hi-fi-wireframe .vector-41 {
  width: 60px;
  height: 30px;
}
.hi-fi-wireframe .right {
  display: flex;
  width: 64px;
  height: 64px;
  box-sizing: border-box;
}
.hi-fi-wireframe .container-4 {
  margin: 0 959px 77px 0;
  display: flex;
  flex-direction: row;
  width: 117px;
  box-sizing: border-box;
}
.hi-fi-wireframe .instagram-1 {
  margin: 0 930px 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 0.7px;
  line-height: 1.111;
  color: #333333;
}
.hi-fi-wireframe .line-19 {
  background: #000000;
  margin: 0 982px 31px 0;
  width: 128px;
  height: 0px;
}
.hi-fi-wireframe .rectangle-38 {
  background: url('assets/images/Rectangle38.jpeg') 50% / cover no-repeat, linear-gradient(#333333, #333333);
  width: 222px;
  height: 222px;
}
.hi-fi-wireframe .rectangle-39 {
  background: url('assets/images/Rectangle39.jpeg') 50% / cover no-repeat, linear-gradient(#333333, #333333);
  width: 222px;
  height: 222px;
}
.hi-fi-wireframe .rectangle-40 {
  background: url('assets/images/Rectangle40.jpeg') 50% / cover no-repeat, linear-gradient(#333333, #333333);
  width: 222px;
  height: 222px;
}
.hi-fi-wireframe .rectangle-41 {
  background: url('assets/images/Rectangle41.jpeg') 50% / cover no-repeat, linear-gradient(#333333, #333333);
  width: 222px;
  height: 222px;
}
.hi-fi-wireframe .rectangle-42 {
  background: url('assets/images/Rectangle42.jpeg') 50% / cover no-repeat, linear-gradient(#333333, #333333);
  width: 222px;
  height: 222px;
}
.hi-fi-wireframe .container-13 {
  margin-bottom: 75px;
  display: flex;
  flex-direction: row;
  width: 1110px;
  box-sizing: border-box;
}
.hi-fi-wireframe .image-30 {
  background: url('assets/images/Image30.png') 50% / cover no-repeat;
  margin: 8px 0 11px 0;
  width: 178px;
  height: 22px;
}
.hi-fi-wireframe .get-in-touch {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
.hi-fi-wireframe .useful-link {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
.hi-fi-wireframe .container-78 {
  margin-right: 46.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 747.5px;
  box-sizing: border-box;
}
.hi-fi-wireframe .line-16 {
  background: #FFFFFF;
  width: 60px;
  height: 0px;
}
.hi-fi-wireframe .line-17 {
  background: #FFFFFF;
  width: 60px;
  height: 0px;
}
.hi-fi-wireframe .container-48 {
  margin: 0 0 15px 150.9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 375px;
  box-sizing: border-box;
}
.hi-fi-wireframe .address {
  margin: 0 206.2px 190px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
.hi-fi-wireframe .phone {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
.hi-fi-wireframe .service-center {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.4;
  color: #FFFFFF;
}
.hi-fi-wireframe .customer-service {
  margin-bottom: 24px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.4;
  color: #FFFFFF;
}
.hi-fi-wireframe .combined-shape {
  width: 32px;
  height: 32px;
}
.hi-fi-wireframe .facebook {
  margin-right: 25px;
  display: flex;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.hi-fi-wireframe .instagram {
  width: 32px;
  height: 32px;
}
.hi-fi-wireframe .container-56 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 89px;
  box-sizing: border-box;
}
.hi-fi-wireframe .container-19 {
  margin: 0 5px 6px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hi-fi-wireframe .container-1 {
  margin: 0 6.6px 7px 19px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 2;
  color: #FFFFFF;
}
.hi-fi-wireframe .container {
  margin: 0 0 32px 19px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 2;
  color: #FFFFFF;
}
.hi-fi-wireframe .container-2 {
  margin: 0 0 53px 19px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
.hi-fi-wireframe .combined-shape-3 {
  width: 32px;
  height: 32px;
}
.hi-fi-wireframe .twitter {
  margin-right: 25px;
  display: flex;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.hi-fi-wireframe .youtube {
  width: 32px;
  height: 32px;
}
.hi-fi-wireframe .container-58 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 89px;
  box-sizing: border-box;
}
.hi-fi-wireframe .container-54 {
  margin: 3px 61.8px 6px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hi-fi-wireframe .warranty-complaints-order-shipping-tracking-order-about-us-repair-terms-faq {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 2;
  color: #FFFFFF;
}
.hi-fi-wireframe .container-39 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe .container-35 {
  background: #D84727;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 316px 0 103px 0;
  width: 1440px;
  box-sizing: border-box;
}
.hi-fi-wireframe .container-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.hi-fi-wireframe .container-30 {
  position: absolute;
  top: 54.2px;
  right: -58.5px;
  width: 767.7px;
  height: 373.6px;
}
.hi-fi-wireframe .accessories {
  position: absolute;
  top: 36px;
  right: 588.9px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #333333;
}
.hi-fi-wireframe .news {
  position: absolute;
  top: 36px;
  right: 497.5px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #333333;
}
.hi-fi-wireframe .log-in {
  position: absolute;
  top: 38px;
  right: 251.5px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.4px;
  color: #333333;
}
.hi-fi-wireframe .shape-2 {
  width: 17.3px;
  height: 21.1px;
}
.hi-fi-wireframe .user {
  position: absolute;
  top: 42px;
  right: 315.9px;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.hi-fi-wireframe .shape-11 {
  width: 25.6px;
  height: 25.6px;
}
.hi-fi-wireframe .search {
  position: absolute;
  top: 40.8px;
  right: 379.6px;
  display: flex;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.hi-fi-wireframe .shape-1 {
  width: 17.3px;
  height: 24px;
}
.hi-fi-wireframe .cart {
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.hi-fi-wireframe .container-79 {
  border-radius: 23px;
  background: #F1DDC9;
  position: absolute;
  top: 30px;
  right: 165px;
  display: flex;
  padding: 11px 13.9px 11px 14.8px;
  width: 46px;
  height: 46px;
  box-sizing: border-box;
}
.hi-fi-wireframe .image-6 {
  background: url('assets/images/Image41.png');
  position: absolute;
  left: 173px;
  top: 270px;
  width: 325px;
  height: 467px;
}
.hi-fi-wireframe .way-kambas-mini-ebony {
  position: absolute;
  top: 216px;
  right: 445.5px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 1.2px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe .matoa-way-kambas-this-wood-is-chosen-to-represent-the-sumatran-rhinos-skin-which-is-designed-with-an-overlap-effect-on-its-strap-to-represent-rhinos-skin {
  position: absolute;
  top: 408px;
  right: 390.5px;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #333333;
}
.hi-fi-wireframe .vector-11 {
  width: 11.5px;
  height: 23px;
}
.hi-fi-wireframe .frame-1 {
  display: flex;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.hi-fi-wireframe .container-76 {
  background: #D84727;
  position: absolute;
  top: 634px;
  right: 196px;
  display: flex;
  padding: 19px 0.5px 18px 0;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
}
.hi-fi-wireframe .vector-1 {
  width: 11.5px;
  height: 23px;
}
.hi-fi-wireframe .frame-2 {
  display: flex;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.hi-fi-wireframe .container-82 {
  border: 2px solid #D84727;
  position: absolute;
  top: 634px;
  right: 271px;
  display: flex;
  padding: 19px 0 18px 0.5px;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
}
.hi-fi-wireframe .image-10 {
  background: url('assets/images/Image10.png') 50% / cover no-repeat;
  position: absolute;
  right: -11px;
  bottom: -4px;
  width: 226px;
  height: 226px;
}
.hi-fi-wireframe .mask-group-2 {
  position: absolute;
  left: 474px;
  top: 1346px;
  width: 207px;
  height: 221px;
}
.hi-fi-wireframe .image-9 {
  background: url('assets/images/Image9.png') 50% / cover no-repeat;
  position: absolute;
  right: -10px;
  bottom: 0px;
  width: 221px;
  height: 221px;
}
.hi-fi-wireframe .mask-group {
  position: absolute;
  left: 189px;
  top: 1346px;
  width: 207px;
  height: 221px;
}
.hi-fi-wireframe .image-11 {
  background: url('assets/images/Image11.png') 50% / cover no-repeat;
  position: absolute;
  left: -647px;
  top: -577px;
  width: 894px;
  height: 894px;
}
.hi-fi-wireframe .mask-group-1 {
  position: absolute;
  top: 1346px;
  right: 474px;
  width: 207px;
  height: 221px;
}
.hi-fi-wireframe .image-12 {
  background: url('assets/images/Image12.png') 50% / cover no-repeat;
  position: absolute;
  top: -107px;
  right: -154px;
  width: 419px;
  height: 419px;
}
.hi-fi-wireframe .mask-group-3 {
  position: absolute;
  top: 1346px;
  right: 189px;
  width: 207px;
  height: 221px;
}
.hi-fi-wireframe .container-46 {
  position: absolute;
  top: 1892px;
  right: 4px;
  width: 736px;
  height: 264px;
}
.hi-fi-wireframe .container-60 {
  position: absolute;
  top: 2302px;
  right: -24px;
  width: 399px;
  height: 216px;
}
.hi-fi-wireframe .image-13 {
  background: url('assets/images/Image13.png') 50% / cover no-repeat;
  position: absolute;
  left: -10px;
  top: -114px;
  width: 627.5px;
  height: 626px;
}
.hi-fi-wireframe .mask-group-4 {
  position: absolute;
  top: 1998px;
  right: 250px;
  width: 610px;
  height: 484px;
}
.hi-fi-wireframe .rp-11700001 {
  position: absolute;
  right: 179.1px;
  bottom: 1869px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 0.6px;
  line-height: 1.429;
  color: #222222;
}
.hi-fi-wireframe .container-47 {
  position: absolute;
  left: -1.5px;
  bottom: 1489px;
  width: 433.5px;
  height: 216px;
}
.hi-fi-wireframe .image-24 {
  background: url('assets/images/Image24.png') 50% / cover no-repeat;
  position: absolute;
  left: -77px;
  bottom: -185px;
  width: 572px;
  height: 573px;
}
.hi-fi-wireframe .mask-group-5 {
  position: absolute;
  left: 165px;
  bottom: 1217px;
  width: 511px;
  height: 321px;
}
.hi-fi-wireframe .container-22 {
  position: absolute;
  left: -17px;
  bottom: 14px;
  width: 399px;
  height: 216px;
}
.hi-fi-wireframe .container-28 {
  position: absolute;
  right: -4px;
  bottom: 247px;
  width: 399px;
  height: 216px;
}
.hi-fi-wireframe .image-25 {
  background: url('assets/images/Image25.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
}
.hi-fi-wireframe .image-26 {
  background: url('assets/images/Image26.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
}
.hi-fi-wireframe .image-27 {
  background: url('assets/images/Image27.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
}
.hi-fi-wireframe .image-28 {
  background: url('assets/images/Image28.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
}
.hi-fi-wireframe .image-29 {
  background: url('assets/images/Image29.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
}
.hi-fi-wireframe .container-67 {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  column-gap: 100px;
  width: 900px;
  box-sizing: border-box;
}
.hi-fi-wireframe .image-32 {
  background: url('assets/images/Image32.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
}
.hi-fi-wireframe .image-33 {
  background: url('assets/images/Image33.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
}
.hi-fi-wireframe .image-34 {
  background: url('assets/images/Image34.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
}
.hi-fi-wireframe .image-35 {
  background: url('assets/images/Image35.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
}
.hi-fi-wireframe .image-36 {
  background: url('assets/images/Image36.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
}
.hi-fi-wireframe .container-21 {
  display: flex;
  flex-direction: row;
  column-gap: 100px;
  width: 900px;
  box-sizing: border-box;
}
.hi-fi-wireframe .container-42 {
  background: #DA5E42;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 427px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 23px 0;
  box-sizing: border-box;
}
.hi-fi-wireframe .campaign {
  position: absolute;
  right: 295.3px;
  bottom: 343px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
.hi-fi-wireframe .mengenal-arti-cukup-tell-your-difference-waykambas-rebrand-gallery-singo-rakai {
  position: absolute;
  right: 242.9px;
  bottom: 103px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 2;
  color: #FFFFFF;
}
.hi-fi-wireframe .office-hour {
  position: absolute;
  left: 165px;
  bottom: 131px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
.hi-fi-wireframe .monday-sunday-10001800 {
  position: absolute;
  left: 165px;
  bottom: 75px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
  color: #FFFFFF;
}
.hi-fi-wireframe .store-office-jl-setrasari-kulon-iii-no-1012-sukarasa-sukasari-bandung-jawa-barat-indonesia-40152 {
  position: absolute;
  left: 165px;
  bottom: 183px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
.hi-fi-wireframe {
  background: #F7F6F4;
  display: flex;
  padding-top: 36px;
  width: 1440px;
  box-sizing: border-box;
}
