.hi-fi-wireframe-product .image-5 {
  background: url('assets/images/Image30.png') 50% / cover no-repeat;
  margin: 12px 0;
  width: 178px;
  height: 22px;
}
.hi-fi-wireframe-product .watches {
  margin-right: 17px;
  width: 82px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #333333;
}
.hi-fi-wireframe-product .eyewear {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #333333;
}
.hi-fi-wireframe-product .accessories {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #333333;
}
.hi-fi-wireframe-product .news {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #333333;
}
.hi-fi-wireframe-product .group-13 {
  margin: 6px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 445px;
  height: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .shape-1 {
  width: 25.6px;
  height: 25.6px;
}
.hi-fi-wireframe-product .search {
  margin: 10.8px 0 9.6px 0;
  display: flex;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .shape {
  width: 17.3px;
  height: 21.1px;
}
.hi-fi-wireframe-product .user {
  margin: 12px 10.9px 12.9px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .log-in {
  margin: 8px 40.5px 7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.4px;
  color: #333333;
}
.hi-fi-wireframe-product .shape-2 {
  width: 17.3px;
  height: 24px;
}
.hi-fi-wireframe-product .cart {
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .container-31 {
  border-radius: 23px;
  background: #F1DDC9;
  position: relative;
  display: flex;
  padding: 11px 13.9px 11px 14.8px;
  width: 46px;
  height: 46px;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .container-18 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .container-41 {
  margin: 0 165px 62px 165px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 1110px;
  box-sizing: border-box;
}
.home-product-watches-way-kambas-mini-ebony-sub19 {
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 1.333;
  color: #333333;
}
.home-product-watches-way-kambas-mini-ebony {
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 1.333;
  color: #D84727;
}
.hi-fi-wireframe-product .home-product-watches-way-kambas-mini-ebony {
  margin: 0 183.2px 45px 0;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
  color: #000000;
}
.hi-fi-wireframe-product .image-37 {
  background: url('assets/images/Image41.png');
  margin: 0 5px 24px 0;
  width: 70px;
  height: 101px;
}
.hi-fi-wireframe-product .image-removebg-preview-1 {
  background: url('assets/images/ImageRemovebgPreview1.png');
  margin: 0 7px 24px 0;
  width: 92px;
  height: 110px;
}
.hi-fi-wireframe-product .image-removebg-preview-11 {
  background: url('assets/images/ImageRemovebgPreview11.png');
  margin: 0 7px 24px 0;
  width: 92px;
  height: 110px;
}
.hi-fi-wireframe-product .image-removebg-preview-21 {
  background: url('assets/images/ImageRemovebgPreview21.png');
  width: 107px;
  height: 88px;
}
.hi-fi-wireframe-product .container-8 {
  background: #F1DDC9;
  position: relative;
  margin-right: 173px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0 43px 0;
  width: 1110px;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .way-kambas-mini-ebony {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 1.2px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe-product .rp-1280000 {
  margin-bottom: 2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.4;
  color: #777777;
}
.hi-fi-wireframe-product .rp-1024000 {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.5px;
  color: #333333;
}
.hi-fi-wireframe-product .choose-model {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.3px;
  color: #333333;
}
.hi-fi-wireframe-product .image-38 {
  border-radius: 171.5px;
  background: url('assets/images/Image38.png') 50% / cover no-repeat;
  margin: 0 16px 1px 0;
  width: 55px;
  height: 55px;
}
.hi-fi-wireframe-product .image-39 {
  border-radius: 171.5px;
  background: url('assets/images/Image39.png') 50% / cover no-repeat;
  margin-top: 1px;
  width: 55px;
  height: 55px;
}
.hi-fi-wireframe-product .container-11 {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 126px;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .vector-51 {
  background: #777777;
  width: 16px;
  height: 0px;
}
.hi-fi-wireframe-product .frame-6 {
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .container-17 {
  border: 1px solid #777777;
  position: relative;
  margin: 16px 16px 16px 0;
  display: flex;
  padding: 15px 7px 14px 7px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .container {
  margin: 1px 16.1px 0 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 0.7px;
  color: #000000;
}
.hi-fi-wireframe-product .vector-5 {
  width: 16px;
  height: 16px;
}
.hi-fi-wireframe-product .frame-5 {
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .container-13 {
  background: #D84727;
  position: relative;
  margin: 16px 36px 16px 0;
  display: flex;
  padding: 7px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .shape-10 {
  width: 21.3px;
  height: 18.8px;
}
.hi-fi-wireframe-product .add-cart {
  margin: 8px 15.7px 7.2px 0;
  display: flex;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .add-to-cart {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
.hi-fi-wireframe-product .container-24 {
  background: #D84727;
  position: relative;
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  padding: 14px 0;
  width: 208px;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .shape-3 {
  margin: 6.8px 3.5px 0 0;
  width: 15.1px;
  height: 17.7px;
}
.hi-fi-wireframe-product .oval {
  margin: 0 0px 1.5px 0;
  width: 3.7px;
  height: 4.5px;
}
.hi-fi-wireframe-product .shape-5 {
  margin-left: 0px;
  width: 3.7px;
  height: 17.2px;
}
.hi-fi-wireframe-product .container-23 {
  margin: 1px 3.5px 0.2px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 3.7px;
  height: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .shape-4 {
  margin: 6.8px 3.7px 0px 0;
  width: 15.1px;
  height: 17.7px;
}
.hi-fi-wireframe-product .oval-1 {
  margin: 0 0px 1.5px 0;
  width: 3.7px;
  height: 4.5px;
}
.hi-fi-wireframe-product .shape-6 {
  margin-left: 0px;
  width: 3.7px;
  height: 17.2px;
}
.hi-fi-wireframe-product .container-34 {
  margin: 1px 4.3px 0.2px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 3.7px;
  height: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .shape-7 {
  margin-bottom: 0.2px;
  width: 3.7px;
  height: 24.2px;
}
.hi-fi-wireframe-product .container-30 {
  margin-bottom: 2.5px;
  display: flex;
  flex-direction: row;
  width: 56.3px;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .shape-8 {
  margin-right: 15.3px;
  width: 12.4px;
  height: 5.2px;
}
.hi-fi-wireframe-product .container-20 {
  border: 2px solid #D84727;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15.4px 0 14.4px 0;
  width: 140px;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .container-5 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .container-12 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .line-22 {
  background: #D93F3F;
  position: absolute;
  left: 0px;
  top: 182px;
  width: 131px;
  height: 0px;
}
.hi-fi-wireframe-product .container-1 {
  position: relative;
  margin: 24px 0 76px 0;
  display: flex;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .container {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .image-6 {
  background: url('assets/images/Image41.png');
  position: absolute;
  top: 24px;
  right: 553px;
  width: 352px;
  height: 481px;
}
.hi-fi-wireframe-product .container-3 {
  position: relative;
  margin: 0 164px 76px 0;
  display: flex;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .detail {
  margin-right: 16px;
  width: 62px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.6;
  color: #D84727;
}
.hi-fi-wireframe-product .warranty {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.6;
  color: #999999;
}
.hi-fi-wireframe-product .custom-engrave {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.6;
  color: #999999;
}
.hi-fi-wireframe-product .how-to-adjust {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.6;
  color: #999999;
}
.hi-fi-wireframe-product .how-to-care {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.6;
  color: #999999;
}
.hi-fi-wireframe-product .gallery {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.6;
  color: #999999;
}
.hi-fi-wireframe-product .container-27 {
  margin: 0 0 4px 368.7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 882.7px;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .line-23 {
  background: #D84727;
  margin: 0 452px 11px 0;
  width: 62px;
  height: 0px;
}
.hi-fi-wireframe-product .line-30 {
  background: #999999;
  margin: 0 165px 23.7px 165px;
  align-self: flex-end;
  width: 1110px;
  height: 0px;
}
.hi-fi-wireframe-product .material {
  margin: 0 430.8px 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe-product .matoa-way-kambas-sumatran-rhino-comes-with-amaterial-form-of-makassar-ebony-diospyros-celebica-this-wood-is-chosen-to-represent-the-sumatran-rhinos-skin-which-is-designed-with-an-overlap-effect-on-its-strap-to-represent-rhinos-skin-sumatran-rhino-has-unique-skin-fold-the-skin-is-fairly-thin-about-1016-mm-and-is-soft-and-pliable {
  margin: 0 0 24px 485.7px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 1.75;
  color: #555555;
}
.hi-fi-wireframe-product .case {
  margin: 0 472.6px 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe-product .the-case-on-this-timepiece-is-made-with-height-125-mm-width-36-mm-length-33-mm-and-dial-opening-25-mm-the-glass-is-equipped-with-k-1-flat-glass-to-increase-the-enhanced-durability-on-timepieces-as-scratch-resistant-and-anti-fingerprint-this-timepiece-is-also-equipped-with-hand-polish-brass-spacer-for-alonger-usage-periods {
  margin: 0 0 24px 510.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 1.75;
  color: #555555;
}
.hi-fi-wireframe-product .movement {
  margin: 0 404.4px 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe-product .for-the-first-time-matoa-comes-with-seiko-quartz-vd-78-movement-with-small-second-function-asmall-second-hand-is-above-6-oclock-position-this-second-hand-dial-is-dedicated-to-sumatran-rhino-whom-every-second-of-its-life-is-so-precious-because-whenever-sumatran-rhino-goes-it-can-be-threatened-by-illegal-poaching {
  margin: 0 0 24px 504.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 1.75;
  color: #555555;
}
.hi-fi-wireframe-product .dial {
  margin: 0 481.6px 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe-product .in-the-dial-there-are-double-layer-of-makassar-ebony-veneer-with-3912-oclock-laser-cut-brass-plate-index {
  margin: 0 0 24px 294.6px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 1.75;
  color: #555555;
}
.hi-fi-wireframe-product .hand {
  margin: 0 464.9px 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe-product .the-hour-minute-small-second-hands-on-matoa-way-kambas-sumatran-rhino-is-outfitted-with-skeleton-hand-and-brush-finished-with-gold-matte-color-this-new-design-aims-at-adding-avalue-for-this-special-edition {
  margin: 0 0 24px 489px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 1.75;
  color: #555555;
}
.hi-fi-wireframe-product .important-to-note {
  margin: 0 316.5px 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe-product .wood-color-on-watches-is-produced-from-acombination-of-mature-and-fresh-wood-but-should-not-be-viewed-as-adefect-it-is-avery-natural-process-of-wood-aging {
  margin: 0 0 16px 509.1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 1.75;
  color: #555555;
}
.hi-fi-wireframe-product .image-40 {
  background: url('assets/images/Image40.png') 50% / cover no-repeat;
  margin: 0 0 120px 583px;
  width: 635px;
  height: 518px;
}
.hi-fi-wireframe-product .relate-products {
  margin: 0 307.8px 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 0.7px;
  line-height: 1.111;
  color: #333333;
}
.hi-fi-wireframe-product .line-7 {
  background: #000000;
  margin: 0 462px 61px 0;
  width: 128px;
  height: 0px;
}
.hi-fi-wireframe-product .image-92 {
  background: url('assets/images/Image9.png') 50% / cover no-repeat;
  position: absolute;
  right: -10px;
  bottom: 0px;
  width: 221px;
  height: 221px;
}
.hi-fi-wireframe-product .mask-group-1 {
  position: relative;
  margin-bottom: 12px;
  width: 207px;
  height: 221px;
}
.hi-fi-wireframe-product .singo-maple-1 {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe-product .rp-1500000 {
  margin: 0 2px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #777777;
}
.hi-fi-wireframe-product .rp-1264000 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe-product .container-7 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .line-291 {
  background: #D93F3F;
  position: absolute;
  left: 24px;
  bottom: 67px;
  width: 104px;
  height: 0px;
}
.hi-fi-wireframe-product .container-33 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 46px 24px 24px 24px;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .image-41 {
  background: url('assets/images/Image411.png') 50% / cover no-repeat;
  position: absolute;
  right: -157px;
  bottom: 0px;
  width: 518px;
  height: 221px;
}
.hi-fi-wireframe-product .mask-group-2 {
  background: url('assets/images/Image9.png') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 12px;
  width: 207px;
  height: 221px;
}
.hi-fi-wireframe-product .sikka-ebony-maple {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe-product .rp-12640001 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe-product .container-26 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 24px 20px 24px;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .image-42 {
  background: url('assets/images/Image42.png') 50% / cover no-repeat;
  position: absolute;
  top: -659px;
  right: -428px;
  width: 960px;
  height: 960px;
}
.hi-fi-wireframe-product .mask-group-3 {
  background: url('assets/images/Image9.png') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 12px;
  width: 207px;
  height: 221px;
}
.hi-fi-wireframe-product .sunda {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe-product .rp-1170000 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe-product .container-9 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .image-91 {
  background: url('assets/images/Image9.png') 50% / cover no-repeat;
  position: absolute;
  right: -10px;
  bottom: 0px;
  width: 221px;
  height: 221px;
}
.hi-fi-wireframe-product .mask-group {
  position: relative;
  margin-bottom: 12px;
  width: 207px;
  height: 221px;
}
.hi-fi-wireframe-product .singo-maple {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe-product .rp-12800001 {
  margin: 0 2px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #777777;
}
.hi-fi-wireframe-product .rp-960000 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe-product .container-10 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .line-29 {
  background: #D93F3F;
  position: absolute;
  left: 24px;
  bottom: 67px;
  width: 104px;
  height: 0px;
}
.hi-fi-wireframe-product .container-29 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 46px 24px 24px 24px;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .container-2 {
  margin: 0 165px 97px 165px;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  column-gap: 30px;
  width: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .vector-18 {
  position: absolute;
  left: 0px;
  top: 369px;
  width: 399px;
  height: 216px;
}
.hi-fi-wireframe-product .vector-19 {
  position: absolute;
  left: 0px;
  top: 423px;
  width: 413px;
  height: 226px;
}
.hi-fi-wireframe-product .image-30 {
  background: url('assets/images/Image30.png') 50% / cover no-repeat;
  margin: 8px 0 11px 0;
  width: 178px;
  height: 22px;
}
.hi-fi-wireframe-product .get-in-touch {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
.hi-fi-wireframe-product .useful-link {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
.hi-fi-wireframe-product .container-6 {
  position: relative;
  margin-right: 284.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 747.5px;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .line-16 {
  background: #FFFFFF;
  width: 60px;
  height: 0px;
}
.hi-fi-wireframe-product .line-17 {
  background: #FFFFFF;
  width: 60px;
  height: 0px;
}
.hi-fi-wireframe-product .line-18 {
  background: #FFFFFF;
  width: 60px;
  height: 0px;
}
.hi-fi-wireframe-product .container-16 {
  position: relative;
  margin: 0 0 15px 167.9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 630px;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .address {
  margin-bottom: 2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
.hi-fi-wireframe-product .store-office-jl-setrasari-kulon-iii-no-1012-sukarasa-sukasari-bandung-jawa-barat-indonesia-40152 {
  margin-bottom: 18px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
.hi-fi-wireframe-product .office-hour {
  margin-bottom: 2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
.hi-fi-wireframe-product .monday-sunday-10001800 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
  color: #FFFFFF;
}
.hi-fi-wireframe-product .container-32 {
  margin-right: 32.2px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .phone {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
.hi-fi-wireframe-product .service-center {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.4;
  color: #FFFFFF;
}
.hi-fi-wireframe-product .customer-service {
  margin-bottom: 24px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.4;
  color: #FFFFFF;
}
.hi-fi-wireframe-product .combined-shape {
  width: 32px;
  height: 32px;
}
.hi-fi-wireframe-product .facebook {
  margin-right: 25px;
  display: flex;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .instagram {
  width: 32px;
  height: 32px;
}
.hi-fi-wireframe-product .container-35 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 89px;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .container-37 {
  margin: 0 5px 34px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .container-2 {
  margin: 0 6.6px 7px 19px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 2;
  color: #FFFFFF;
}
.hi-fi-wireframe-product .container-1 {
  margin: 0 0 32px 19px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 2;
  color: #FFFFFF;
}
.hi-fi-wireframe-product .container-3 {
  margin: 0 0 53px 19px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
.hi-fi-wireframe-product .combined-shape-3 {
  width: 32px;
  height: 32px;
}
.hi-fi-wireframe-product .twitter {
  margin-right: 25px;
  display: flex;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .youtube {
  width: 32px;
  height: 32px;
}
.hi-fi-wireframe-product .container-19 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 89px;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .container-25 {
  margin: 3px 61.8px 34px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .warranty-complaints-order-shipping-tracking-order-about-us-repair-terms-faq {
  margin: 0 60.9px 28px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 2;
  color: #FFFFFF;
}
.hi-fi-wireframe-product .mengenal-arti-cukup-tell-your-difference-waykambas-rebrand-gallery-singo-rakai {
  margin-bottom: 28px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 2;
  color: #FFFFFF;
}
.hi-fi-wireframe-product .container-39 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .container-4 {
  background: #D84727;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  padding: 316px 0 75px 0;
  width: 1440px;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .container-22 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1960px;
  height: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .off-1 {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
}
.hi-fi-wireframe-product .container-28 {
  background: #D84727;
  position: absolute;
  left: 293px;
  bottom: 1178px;
  display: flex;
  padding: 5px 16.5px 5px 17px;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .new {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
}
.hi-fi-wireframe-product .container-14 {
  background: #01522D;
  position: absolute;
  left: 610px;
  bottom: 1178px;
  display: flex;
  padding: 5px 16.1px 5px 16px;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .off {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
}
.hi-fi-wireframe-product .container-40 {
  background: #D84727;
  position: absolute;
  right: 189px;
  bottom: 1178px;
  display: flex;
  padding: 5px 16.5px 5px 17px;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .container-36 {
  position: absolute;
  right: -21px;
  bottom: 348px;
  width: 399px;
  height: 216px;
}
.hi-fi-wireframe-product .image-25 {
  background: url('assets/images/Image25.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
}
.hi-fi-wireframe-product .image-26 {
  background: url('assets/images/Image26.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
}
.hi-fi-wireframe-product .image-27 {
  background: url('assets/images/Image27.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
}
.hi-fi-wireframe-product .image-28 {
  background: url('assets/images/Image28.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
}
.hi-fi-wireframe-product .image-29 {
  background: url('assets/images/Image29.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
}
.hi-fi-wireframe-product .container-21 {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  column-gap: 100px;
  width: 900px;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .image-32 {
  background: url('assets/images/Image32.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
}
.hi-fi-wireframe-product .image-33 {
  background: url('assets/images/Image33.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
}
.hi-fi-wireframe-product .image-34 {
  background: url('assets/images/Image34.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
}
.hi-fi-wireframe-product .image-35 {
  background: url('assets/images/Image35.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
}
.hi-fi-wireframe-product .image-36 {
  background: url('assets/images/Image36.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
}
.hi-fi-wireframe-product .container-15 {
  display: flex;
  flex-direction: row;
  column-gap: 100px;
  width: 900px;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .container-38 {
  background: #DA5E42;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 427px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 23px 0;
  box-sizing: border-box;
}
.hi-fi-wireframe-product .campaign {
  position: absolute;
  right: 295.3px;
  bottom: 343px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
.hi-fi-wireframe-product {
  background: #F7F6F4;
  display: flex;
  padding-top: 30px;
  width: 1440px;
  box-sizing: border-box;
}
