.hi-fi-wireframe-checkout .image-5 {
  background: url('assets/images/Image30.png') 50% / cover no-repeat;
  margin: 12px 0;
  width: 178px;
  height: 22px;
}
.hi-fi-wireframe-checkout .watches {
  margin-right: 17px;
  width: 82px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #333333;
}
.hi-fi-wireframe-checkout .eyewear {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #333333;
}
.hi-fi-wireframe-checkout .accessories {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #333333;
}
.hi-fi-wireframe-checkout .news {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #333333;
}
.hi-fi-wireframe-checkout .group-13 {
  margin: 6px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 445px;
  height: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .shape-1 {
  width: 25.6px;
  height: 25.6px;
}
.hi-fi-wireframe-checkout .search {
  margin: 10.8px 0 9.6px 0;
  display: flex;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .shape {
  width: 17.3px;
  height: 21.1px;
}
.hi-fi-wireframe-checkout .user {
  margin: 12px 10.9px 12.9px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .log-in {
  margin: 8px 40.5px 7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.4px;
  color: #333333;
}
.hi-fi-wireframe-checkout .shape-2 {
  width: 17.3px;
  height: 24px;
}
.hi-fi-wireframe-checkout .cart {
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .container-13 {
  border-radius: 23px;
  background: #F1DDC9;
  position: relative;
  display: flex;
  padding: 11px 13.9px 11px 14.8px;
  width: 46px;
  height: 46px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .container-24 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .container-7 {
  margin-bottom: 53px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1110px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .group {
  width: 29px;
  height: 33.5px;
}
.hi-fi-wireframe-checkout .checkout {
  margin-bottom: 18.5px;
  display: flex;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .payment {
  margin-top: 4px;
  width: 48px;
  height: 48px;
}
.hi-fi-wireframe-checkout .shape-4 {
  width: 29.1px;
  height: 27.9px;
}
.hi-fi-wireframe-checkout .confirm {
  margin: 14px 0 10.1px 0;
  display: flex;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .container-2 {
  margin: 0 9.9px 2px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 602.1px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .checkout-1 {
  margin-right: 12px;
  width: 124px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.2;
  color: #D84727;
}
.hi-fi-wireframe-checkout .line-34 {
  background: #333333;
  margin: 12px 24px 11px 0;
  width: 114px;
  height: 0px;
}
.hi-fi-wireframe-checkout .payment-1 {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.2;
  color: #999999;
}
.hi-fi-wireframe-checkout .container-5 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .line-35 {
  background: #333333;
  margin: 12px 24px 11px 0;
  width: 114px;
  height: 0px;
}
.hi-fi-wireframe-checkout .confirmation {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.2;
  color: #999999;
}
.hi-fi-wireframe-checkout .container-28 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .container-6 {
  margin: 0 0.8px 46px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 717.2px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .detail-order {
  margin-bottom: 41px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 0.7px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe-checkout .subtotal-shipping-cost-promo-code-packaging {
  margin-right: 45.5px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.7px;
  line-height: 2.5;
  color: #333333;
}
.hi-fi-wireframe-checkout .rp-2152000-rp-500000-indonesia-rp-50000 {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.7px;
  line-height: 2.5;
  color: #333333;
}
.hi-fi-wireframe-checkout .container-1 {
  margin-bottom: 39px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .line-36 {
  background: #333333;
  margin-bottom: 23px;
  width: 476px;
  height: 0px;
}
.hi-fi-wireframe-checkout .grand-total {
  margin-right: 30px;
  width: 144px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.7px;
  line-height: 2.5;
  color: #333333;
}
.hi-fi-wireframe-checkout .rp-2702000 {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 1.1px;
  line-height: 1.667;
  color: #333333;
}
.hi-fi-wireframe-checkout .container-22 {
  margin-right: 7.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 468.5px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .container-26 {
  background: #FFFFFF;
  position: relative;
  margin: 0 30px 375px 0;
  display: flex;
  flex-direction: column;
  padding: 32px 32px 24px 32px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .billing-address {
  margin-bottom: 40px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 0.7px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe-checkout .fullname {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 2;
  color: #000000;
}
.hi-fi-wireframe-checkout .ex-rasyidin-arsyad-nasution {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 1.2;
  color: #999999;
}
.hi-fi-wireframe-checkout .line-37 {
  background: #333333;
  width: 476px;
  height: 0px;
}
.hi-fi-wireframe-checkout .group-4 {
  margin-bottom: 23.7px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .email-address {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 2;
  color: #000000;
}
.hi-fi-wireframe-checkout .ex-rasyid-arsyadgmail-com {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 1.2;
  color: #999999;
}
.hi-fi-wireframe-checkout .line-371 {
  background: #333333;
  width: 476px;
  height: 0px;
}
.hi-fi-wireframe-checkout .group-5 {
  margin-bottom: 23.7px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .phone-number {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 2;
  color: #000000;
}
.hi-fi-wireframe-checkout .ex-089111888999 {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 1.2;
  color: #999999;
}
.hi-fi-wireframe-checkout .line-372 {
  background: #333333;
  width: 476px;
  height: 0px;
}
.hi-fi-wireframe-checkout .group-6 {
  margin-bottom: 23.7px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .shipping-address {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 2;
  color: #000000;
}
.hi-fi-wireframe-checkout .ex-patriot-street-number-666-ngaklik-sleman {
  margin: 0 12.4px 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 1.2;
  color: #999999;
}
.hi-fi-wireframe-checkout .line-373 {
  background: #333333;
  width: 476px;
  height: 0px;
}
.hi-fi-wireframe-checkout .group-7 {
  margin-bottom: 23.7px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .country {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 2;
  color: #000000;
}
.hi-fi-wireframe-checkout .united-state-of-america-usa {
  margin-right: 12px;
  width: 297px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 1.2;
  color: #333333;
}
.hi-fi-wireframe-checkout .vector-12 {
  width: 15px;
  height: 7.5px;
}
.hi-fi-wireframe-checkout .frame-9 {
  margin: 8px 0 8.5px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .container-23 {
  margin: 0 12px 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 464px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .line-374 {
  background: #333333;
  width: 476px;
  height: 0px;
}
.hi-fi-wireframe-checkout .group-8 {
  margin-bottom: 23.7px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .state-province {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 2;
  color: #000000;
}
.hi-fi-wireframe-checkout .california {
  margin-right: 12px;
  width: 96px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 1.2;
  color: #333333;
}
.hi-fi-wireframe-checkout .vector-122 {
  width: 15px;
  height: 7.5px;
}
.hi-fi-wireframe-checkout .frame-92 {
  margin: 8px 0 8.5px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .container-30 {
  margin: 0 12px 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 464px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .line-375 {
  background: #333333;
  width: 476px;
  height: 0px;
}
.hi-fi-wireframe-checkout .group-9 {
  margin-bottom: 23.7px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .city {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 2;
  color: #000000;
}
.hi-fi-wireframe-checkout .san-francisco {
  margin-right: 12px;
  width: 136px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 1.2;
  color: #333333;
}
.hi-fi-wireframe-checkout .vector-123 {
  width: 15px;
  height: 7.5px;
}
.hi-fi-wireframe-checkout .frame-93 {
  margin: 8px 0 8.5px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .container-12 {
  margin: 0 22px 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 216px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .line-376 {
  background: #333333;
  width: 238px;
  height: 0px;
}
.hi-fi-wireframe-checkout .group-10 {
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .zip-code {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 2;
  color: #000000;
}
.hi-fi-wireframe-checkout .ex-94024 {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 1.2;
  color: #999999;
}
.hi-fi-wireframe-checkout .line-378 {
  background: #333333;
  width: 214px;
  height: 0px;
}
.hi-fi-wireframe-checkout .group-12 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .container-20 {
  margin-bottom: 23.7px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .choose-courier {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 2;
  color: #000000;
}
.hi-fi-wireframe-checkout .dhl {
  margin-right: 12px;
  width: 43px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 1.2;
  color: #333333;
}
.hi-fi-wireframe-checkout .vector-121 {
  width: 15px;
  height: 7.5px;
}
.hi-fi-wireframe-checkout .frame-91 {
  margin: 8px 0 8.5px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .container {
  margin: 0 12px 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 464px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .line-377 {
  background: #333333;
  width: 476px;
  height: 0px;
}
.hi-fi-wireframe-checkout .group-11 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .container-25 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px 32px 50.7px 32px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .container-17 {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .continue-shopping {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 1.6;
  color: #D84727;
}
.hi-fi-wireframe-checkout .container-10 {
  border: 1px solid #D84727;
  position: relative;
  margin-right: 40px;
  display: flex;
  padding: 15px 0 14px 0.9px;
  width: 250px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .place-my-order {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 1.6;
  color: #FFFFFF;
}
.hi-fi-wireframe-checkout .container-18 {
  background: #D84727;
  position: relative;
  display: flex;
  padding: 15px 0 14px 0.5px;
  width: 250px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .container-8 {
  margin: 0 0 59px 570px;
  display: flex;
  flex-direction: row;
  width: 540px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .image-25 {
  background: url('assets/images/Image25.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
}
.hi-fi-wireframe-checkout .image-26 {
  background: url('assets/images/Image26.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
}
.hi-fi-wireframe-checkout .image-27 {
  background: url('assets/images/Image27.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
}
.hi-fi-wireframe-checkout .image-28 {
  background: url('assets/images/Image28.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
}
.hi-fi-wireframe-checkout .image-29 {
  background: url('assets/images/Image29.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
}
.hi-fi-wireframe-checkout .container-15 {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  column-gap: 100px;
  width: 900px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .image-32 {
  background: url('assets/images/Image32.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
}
.hi-fi-wireframe-checkout .image-33 {
  background: url('assets/images/Image33.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
}
.hi-fi-wireframe-checkout .image-34 {
  background: url('assets/images/Image34.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
}
.hi-fi-wireframe-checkout .image-35 {
  background: url('assets/images/Image35.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
}
.hi-fi-wireframe-checkout .image-36 {
  background: url('assets/images/Image36.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
}
.hi-fi-wireframe-checkout .container-3 {
  display: flex;
  flex-direction: row;
  column-gap: 100px;
  width: 900px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .container-31 {
  background: #DA5E42;
  position: relative;
  margin-bottom: 43px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 23px 0;
  width: 1440px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .image-30 {
  background: url('assets/images/Image30.png') 50% / cover no-repeat;
  margin: 8px 0 11px 0;
  width: 178px;
  height: 22px;
}
.hi-fi-wireframe-checkout .get-in-touch {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
.hi-fi-wireframe-checkout .useful-link {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
.hi-fi-wireframe-checkout .campaign {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
.hi-fi-wireframe-checkout .container-27 {
  margin-right: 130.3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 979.7px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .line-16 {
  background: #FFFFFF;
  width: 60px;
  height: 0px;
}
.hi-fi-wireframe-checkout .line-17 {
  background: #FFFFFF;
  width: 60px;
  height: 0px;
}
.hi-fi-wireframe-checkout .line-18 {
  background: #FFFFFF;
  width: 60px;
  height: 0px;
}
.hi-fi-wireframe-checkout .container-11 {
  margin: 0 0 15px 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 630px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .address {
  margin-bottom: 2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
.hi-fi-wireframe-checkout .store-office-jl-setrasari-kulon-iii-no-1012-sukarasa-sukasari-bandung-jawa-barat-indonesia-40152 {
  margin-bottom: 18px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
.hi-fi-wireframe-checkout .office-hour {
  margin-bottom: 2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
.hi-fi-wireframe-checkout .monday-sunday-10001800 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
  color: #FFFFFF;
}
.hi-fi-wireframe-checkout .container-14 {
  margin-right: 32.2px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .phone {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
.hi-fi-wireframe-checkout .service-center {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.4;
  color: #FFFFFF;
}
.hi-fi-wireframe-checkout .customer-service {
  margin-bottom: 24px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.4;
  color: #FFFFFF;
}
.hi-fi-wireframe-checkout .combined-shape {
  width: 32px;
  height: 32px;
}
.hi-fi-wireframe-checkout .facebook {
  margin-right: 25px;
  display: flex;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .instagram {
  width: 32px;
  height: 32px;
}
.hi-fi-wireframe-checkout .container-19 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 89px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .container-21 {
  margin: 0 5px 34px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .container-1 {
  margin: 0 6.6px 7px 19px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 2;
  color: #FFFFFF;
}
.hi-fi-wireframe-checkout .container {
  margin: 0 0 32px 19px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 2;
  color: #FFFFFF;
}
.hi-fi-wireframe-checkout .container-2 {
  margin: 0 0 53px 19px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
.hi-fi-wireframe-checkout .combined-shape-3 {
  width: 32px;
  height: 32px;
}
.hi-fi-wireframe-checkout .twitter {
  margin-right: 25px;
  display: flex;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .youtube {
  width: 32px;
  height: 32px;
}
.hi-fi-wireframe-checkout .container-16 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 89px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .container-4 {
  margin: 3px 61.8px 34px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .warranty-complaints-order-shipping-tracking-order-about-us-repair-terms-faq {
  margin: 0 60.9px 28px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 2;
  color: #FFFFFF;
}
.hi-fi-wireframe-checkout .mengenal-arti-cukup-tell-your-difference-waykambas-rebrand-gallery-singo-rakai {
  margin-bottom: 28px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 2;
  color: #FFFFFF;
}
.hi-fi-wireframe-checkout .container-9 {
  margin-right: 77.9px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout .container-29 {
  background: #D84727;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 75px;
  width: 1440px;
  box-sizing: border-box;
}
.hi-fi-wireframe-checkout {
  background: #F7F6F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  width: 1440px;
  box-sizing: border-box;
}
