.hi-fi-wireframe-cart .image-5 {
  background: url('assets/images/Image30.png') 50% / cover no-repeat;
  margin: 12px 0;
  width: 178px;
  height: 22px;
}
.hi-fi-wireframe-cart .watches {
  margin-right: 17px;
  width: 82px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #333333;
}
.hi-fi-wireframe-cart .eyewear {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #333333;
}
.hi-fi-wireframe-cart .accessories {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #333333;
}
.hi-fi-wireframe-cart .news {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #333333;
}
.hi-fi-wireframe-cart .group-13 {
  margin: 6px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 445px;
  height: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .shape-1 {
  width: 25.6px;
  height: 25.6px;
}
.hi-fi-wireframe-cart .search {
  margin: 10.8px 0 9.6px 0;
  display: flex;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .shape {
  width: 17.3px;
  height: 21.1px;
}
.hi-fi-wireframe-cart .user {
  margin: 12px 10.9px 12.9px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .log-in {
  margin: 8px 40.5px 7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.4px;
  color: #333333;
}
.hi-fi-wireframe-cart .shape-2 {
  width: 17.3px;
  height: 24px;
}
.hi-fi-wireframe-cart .cart {
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .container-9 {
  border-radius: 23px;
  background: #F1DDC9;
  position: relative;
  display: flex;
  padding: 11px 13.9px 11px 14.8px;
  width: 46px;
  height: 46px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .container-20 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .container-16 {
  margin-bottom: 62px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 1110px;
  box-sizing: border-box;
}
.home-product-watches-way-kambas-mini-ebony {
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 1.333;
  color: #D84727;
}
.hi-fi-wireframe-cart .home-product-watches-way-kambas-mini-ebony {
  position: relative;
  margin-right: 13.5px;
  width: 407px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
  color: #000000;
}
.home-product-watches-way-kambas-mini-ebony-sub19 {
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe-cart .shape-3 {
  width: 21.3px;
  height: 4.7px;
}
.hi-fi-wireframe-cart .add-cart {
  margin: 21px 0 1.3px 0;
  display: flex;
  width: 32px;
  height: 8px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .container-18 {
  margin: 0 0 45px 308.3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 733.3px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .image-removebg-preview-1 {
  background: url('assets/images/ImageRemovebgPreview1.png');
  margin: 0 7px 24px 0;
  width: 92px;
  height: 110px;
}
.hi-fi-wireframe-cart .image-37 {
  background: url('assets/images/Image41.png');
  margin: 0 7px 24px 0;
  width: 70px;
  height: 101px;
}
.hi-fi-wireframe-cart .image-removebg-preview-11 {
  background: url('assets/images/ImageRemovebgPreview11.png');
  margin: 0 7px 24px 0;
  width: 92px;
  height: 110px;
}
.hi-fi-wireframe-cart .image-removebg-preview-21 {
  background: url('assets/images/ImageRemovebgPreview21.png');
  width: 107px;
  height: 88px;
}
.hi-fi-wireframe-cart .container-19 {
  background: #F1DDC9;
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0 43px 0;
  width: 1110px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .line-33 {
  background: #999999;
  position: absolute;
  right: 0px;
  bottom: 197.7px;
  width: 1046px;
  height: 0px;
}
.hi-fi-wireframe-cart .line-32 {
  background: #999999;
  position: absolute;
  top: 126px;
  right: 0px;
  width: 1046px;
  height: 0px;
}
.hi-fi-wireframe-cart .image-38 {
  border-radius: 171.5px;
  background: url('assets/images/Image38.png') 50% / cover no-repeat;
  position: absolute;
  right: 425px;
  bottom: 179px;
  width: 55px;
  height: 55px;
}
.hi-fi-wireframe-cart .rp-1024000 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.5px;
  color: #333333;
}
.hi-fi-wireframe-cart .choose-model {
  position: absolute;
  right: 363.6px;
  bottom: 242px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.3px;
  color: #333333;
}
.hi-fi-wireframe-cart .rp-1280000 {
  position: absolute;
  top: 192px;
  right: 354.1px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.4;
  color: #777777;
}
.hi-fi-wireframe-cart .way-kambas-mini-ebony {
  position: absolute;
  top: 24px;
  right: 30.5px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 1.2px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe-cart .container {
  position: absolute;
  right: 459.1px;
  bottom: 78px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 0.7px;
  color: #000000;
}
.hi-fi-wireframe-cart .vector-51 {
  width: 16px;
  height: 16px;
}
.hi-fi-wireframe-cart .frame-5 {
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .container-38 {
  background: #D84727;
  position: absolute;
  right: 421px;
  bottom: 110px;
  display: flex;
  padding: 7px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .vector-5 {
  background: #777777;
  width: 16px;
  height: 0px;
}
.hi-fi-wireframe-cart .frame-6 {
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .container-2 {
  border: 1px solid #777777;
  position: absolute;
  right: 421px;
  bottom: 78px;
  display: flex;
  padding: 15px 7px 14px 7px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .image-39 {
  border-radius: 171.5px;
  background: url('assets/images/Image39.png') 50% / cover no-repeat;
  position: absolute;
  right: 354px;
  bottom: 178px;
  width: 55px;
  height: 55px;
}
.hi-fi-wireframe-cart .add-to-cart {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
.hi-fi-wireframe-cart .container-36 {
  background: #D84727;
  position: absolute;
  right: 192px;
  bottom: 78px;
  display: flex;
  padding: 14px 0 14px 41.1px;
  width: 208px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .shape-4 {
  margin: 6.8px 3.5px 0 0;
  width: 15.1px;
  height: 17.7px;
}
.hi-fi-wireframe-cart .oval {
  margin: 0 0px 1.5px 0;
  width: 3.7px;
  height: 4.5px;
}
.hi-fi-wireframe-cart .shape-6 {
  margin-left: 0px;
  width: 3.7px;
  height: 17.2px;
}
.hi-fi-wireframe-cart .container-14 {
  margin: 1px 3.5px 0.2px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 3.7px;
  height: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .shape-5 {
  margin: 6.8px 3.7px 0px 0;
  width: 15.1px;
  height: 17.7px;
}
.hi-fi-wireframe-cart .oval-1 {
  margin: 0 0px 1.5px 0;
  width: 3.7px;
  height: 4.5px;
}
.hi-fi-wireframe-cart .shape-7 {
  margin-left: 0px;
  width: 3.7px;
  height: 17.2px;
}
.hi-fi-wireframe-cart .container-26 {
  margin: 1px 4.3px 0.2px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 3.7px;
  height: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .shape-8 {
  margin-bottom: 0.2px;
  width: 3.7px;
  height: 24.2px;
}
.hi-fi-wireframe-cart .container-15 {
  margin-bottom: 2.5px;
  display: flex;
  flex-direction: row;
  width: 56.3px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .shape-9 {
  margin-right: 15.3px;
  width: 12.4px;
  height: 5.2px;
}
.hi-fi-wireframe-cart .container-8 {
  border: 2px solid #D84727;
  position: absolute;
  right: 36px;
  bottom: 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15.4px 0 14.4px 0;
  width: 140px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .image-6 {
  background: url('assets/images/Image41.png');
  position: absolute;
  top: 24px;
  right: 520px;
  width: 352px;
  height: 481px;
}
.hi-fi-wireframe-cart .line-22 {
  background: #D93F3F;
  position: absolute;
  top: 206px;
  right: 349px;
  width: 131px;
  height: 0px;
}
.hi-fi-wireframe-cart .container-29 {
  position: relative;
  margin: 0 32px 76px 0;
  display: flex;
  padding: 222px 0 285px 958px;
  width: 1763px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .detail {
  position: relative;
  margin-right: 20.3px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.6;
  color: #D84727;
}
.hi-fi-wireframe-cart .line-24 {
  background: #777777;
  margin: 4px 19.5px 3px 0;
  width: 25px;
  height: 0px;
}
.hi-fi-wireframe-cart .warranty {
  margin-right: 20.6px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.6;
  color: #333333;
}
.hi-fi-wireframe-cart .line-25 {
  background: #777777;
  margin: 4px 19.5px 3px 0;
  width: 25px;
  height: 0px;
}
.hi-fi-wireframe-cart .custom-engrave {
  margin-right: 20.9px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.6;
  color: #333333;
}
.hi-fi-wireframe-cart .line-26 {
  background: #777777;
  margin: 4px 19.5px 3px 0;
  width: 25px;
  height: 0px;
}
.hi-fi-wireframe-cart .how-to-adjust {
  margin-right: 20.3px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.6;
  color: #333333;
}
.hi-fi-wireframe-cart .line-27 {
  background: #777777;
  margin: 4px 19.5px 3px 0;
  width: 25px;
  height: 0px;
}
.hi-fi-wireframe-cart .how-to-care {
  margin-right: 20.2px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.6;
  color: #333333;
}
.hi-fi-wireframe-cart .line-28 {
  background: #777777;
  margin: 4px 19.5px 3px 0;
  width: 25px;
  height: 0px;
}
.hi-fi-wireframe-cart .gallery {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.6;
  color: #333333;
}
.hi-fi-wireframe-cart .container-37 {
  margin: 0 0 4px 533.7px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .line-23 {
  background: #D84727;
  margin: 0 287px 11px 0;
  width: 62px;
  height: 0px;
}
.hi-fi-wireframe-cart .line-30 {
  background: #999999;
  margin-bottom: 23.7px;
  align-self: flex-end;
  width: 1110px;
  height: 0px;
}
.hi-fi-wireframe-cart .material {
  margin: 0 265.8px 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe-cart .matoa-way-kambas-sumatran-rhino-comes-with-amaterial-form-of-makassar-ebony-diospyros-celebica-this-wood-is-chosen-to-represent-the-sumatran-rhinos-skin-which-is-designed-with-an-overlap-effect-on-its-strap-to-represent-rhinos-skin-sumatran-rhino-has-unique-skin-fold-the-skin-is-fairly-thin-about-1016-mm-and-is-soft-and-pliable {
  margin: 0 66.3px 16px 66.3px;
  display: inline-block;
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 1.5;
  color: #555555;
}
.hi-fi-wireframe-cart .case {
  margin: 0 307.6px 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe-cart .the-case-on-this-timepiece-is-made-with-height-125-mm-width-36-mm-length-33-mm-and-dial-opening-25-mm-the-glass-is-equipped-with-k-1-flat-glass-to-increase-the-enhanced-durability-on-timepieces-as-scratch-resistant-and-anti-fingerprint-this-timepiece-is-also-equipped-with-hand-polish-brass-spacer-for-alonger-usage-periods {
  margin: 0 41.7px 16px 41.7px;
  display: inline-block;
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 1.5;
  color: #555555;
}
.hi-fi-wireframe-cart .movement {
  margin: 0 239.4px 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe-cart .for-the-first-time-matoa-comes-with-seiko-quartz-vd-78-movement-with-small-second-function-asmall-second-hand-is-above-6-oclock-position-this-second-hand-dial-is-dedicated-to-sumatran-rhino-whom-every-second-of-its-life-is-so-precious-because-whenever-sumatran-rhino-goes-it-can-be-threatened-by-illegal-poaching {
  margin: 0 47.5px 16px 47.5px;
  display: inline-block;
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 1.5;
  color: #555555;
}
.hi-fi-wireframe-cart .dial {
  margin: 0 316.6px 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe-cart .in-the-dial-there-are-double-layer-of-makassar-ebony-veneer-with-3912-oclock-laser-cut-brass-plate-index {
  margin: 0 0 16px 459.6px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 2;
  color: #555555;
}
.hi-fi-wireframe-cart .hand {
  margin: 0 299.9px 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe-cart .the-hour-minute-small-second-hands-on-matoa-way-kambas-sumatran-rhino-is-outfitted-with-skeleton-hand-and-brush-finished-with-gold-matte-color-this-new-design-aims-at-adding-avalue-for-this-special-edition {
  margin: 0 63px 16px 63px;
  display: inline-block;
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 1.5;
  color: #555555;
}
.hi-fi-wireframe-cart .important-to-note {
  margin: 0 151.5px 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe-cart .wood-color-on-watches-is-produced-from-acombination-of-mature-and-fresh-wood-but-should-not-be-viewed-as-adefect-it-is-avery-natural-process-of-wood-aging {
  margin: 0 42.9px 24px 42.9px;
  display: inline-block;
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 1.5;
  color: #555555;
}
.hi-fi-wireframe-cart .image-40 {
  background: url('assets/images/Image40.png') 50% / cover no-repeat;
  margin-left: 748px;
  width: 635px;
  height: 518px;
}
.hi-fi-wireframe-cart .container-6 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1795px;
  height: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .rectangle-54 {
  background: #F7F6F4;
  position: absolute;
  left: 50%;
  top: 120px;
  translate: -50% 0;
  width: 1110px;
  height: 658px;
}
.hi-fi-wireframe-cart .image-41 {
  background: url('assets/images/Image41.png');
  width: 89px;
  height: 122px;
}
.hi-fi-wireframe-cart .container-7 {
  background: #F1DDC9;
  position: relative;
  margin-right: 32px;
  display: flex;
  padding: 11px 7px 11px 0;
  width: 144px;
  height: 144px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .way-kambas-mini-ebony-1 {
  margin-bottom: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.2;
  color: #333333;
}
.hi-fi-wireframe-cart .rp-12800001 {
  margin: 0 1px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 1.5;
  color: #777777;
}
.hi-fi-wireframe-cart .rp-10240001 {
  margin-bottom: 10px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe-cart .custom-engrave-1 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  color: #555555;
}
.hi-fi-wireframe-cart .happy-birthday-from {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  color: #555555;
}
.hi-fi-wireframe-cart .container-13 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .line-31 {
  background: #D93F3F;
  position: absolute;
  left: 0px;
  top: 38px;
  width: 105px;
  height: 0px;
}
.hi-fi-wireframe-cart .container-23 {
  position: relative;
  display: flex;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .container-30 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .vector-52 {
  background: #FFFFFF;
  width: 16px;
  height: 0px;
}
.hi-fi-wireframe-cart .minus {
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .container-21 {
  background: #D84727;
  position: relative;
  margin: 111px 12px 3px 0;
  display: flex;
  padding: 15px 7px 14px 7px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .select-packaging {
  margin: 0 1px 8px 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  color: #333333;
}
.hi-fi-wireframe-cart .wooden-packaging-rp-50000 {
  margin-right: 15.1px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  color: #999999;
}
.hi-fi-wireframe-cart .vector-121 {
  width: 15px;
  height: 7.5px;
}
.hi-fi-wireframe-cart .frame-91 {
  margin: 8px 0 8.5px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .container-28 {
  border: 0.3px solid #333333;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 34px;
  display: flex;
  flex-direction: row;
  padding: 9px 20px 9px 16px;
  width: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .container-1 {
  margin: 2px 18.1px 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.7px;
  line-height: 1.333;
  color: #000000;
}
.hi-fi-wireframe-cart .vector-53 {
  width: 16px;
  height: 16px;
}
.hi-fi-wireframe-cart .plus {
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .container-39 {
  background: #D84727;
  position: relative;
  margin: 3px 16px 3px 0;
  display: flex;
  padding: 7px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .rp-2048000 {
  margin: 2px 32.2px 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe-cart .shape-11 {
  width: 16.1px;
  height: 18.4px;
}
.hi-fi-wireframe-cart .budicon-solid-interfacetrash-1 {
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .container-25 {
  border: 1px solid #D93F3F;
  position: relative;
  display: flex;
  padding: 9px 9.9px 8.6px 10px;
  width: 36px;
  height: 36px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .container-11 {
  margin-left: 6px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .container-10 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .container-24 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .group-2 {
  position: relative;
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1046px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .image-17 {
  background: url('assets/images/Image17.png');
  width: 70.5px;
  height: 100px;
}
.hi-fi-wireframe-cart .container-31 {
  background: #F1DDC9;
  position: relative;
  margin-right: 32px;
  display: flex;
  padding: 22px 0 22px 0.5px;
  width: 144px;
  height: 144px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .sikka-ebony-maple {
  margin-bottom: 16px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.2;
  color: #333333;
}
.hi-fi-wireframe-cart .rp-12640001 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe-cart .container-40 {
  margin-bottom: 72px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .vector-54 {
  background: #777777;
  width: 16px;
  height: 0px;
}
.hi-fi-wireframe-cart .frame-7 {
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .container-43 {
  border: 1px solid #777777;
  position: relative;
  margin: 111px 12px 3px 0;
  display: flex;
  padding: 15px 7px 14px 7px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .select-packaging-1 {
  margin: 0 1px 8px 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  color: #333333;
}
.hi-fi-wireframe-cart .default-packaging-free {
  margin-right: 12px;
  width: 195px;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  color: #999999;
}
.hi-fi-wireframe-cart .vector-12 {
  width: 15px;
  height: 7.5px;
}
.hi-fi-wireframe-cart .frame-9 {
  margin: 8px 0 8.5px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .container-17 {
  border: 0.3px solid #333333;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 34px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 9px 20px 9px 16px;
  width: 313px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .container-2 {
  margin: 2px 18.1px 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.7px;
  line-height: 1.333;
  color: #000000;
}
.hi-fi-wireframe-cart .vector-55 {
  width: 16px;
  height: 16px;
}
.hi-fi-wireframe-cart .frame-8 {
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .container-35 {
  background: #D84727;
  position: relative;
  margin: 3px 16px 3px 0;
  display: flex;
  padding: 7px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .rp-1264000 {
  margin: 2px 32.2px 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe-cart .shape-10 {
  width: 16.1px;
  height: 18.4px;
}
.hi-fi-wireframe-cart .budicon-solid-interfacetrash {
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .container-27 {
  border: 1px solid #D93F3F;
  position: relative;
  display: flex;
  padding: 9px 9.9px 8.6px 10px;
  width: 36px;
  height: 36px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .container-34 {
  margin-left: 6px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .container-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .container-41 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .group-3 {
  position: relative;
  margin-bottom: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1046px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .kode-promo {
  margin: 9px 32.7px 9px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.2;
  color: #333333;
}
.hi-fi-wireframe-cart .indonesia {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.2;
  color: #333333;
}
.hi-fi-wireframe-cart .container-3 {
  border: 0.3px solid #333333;
  background: #FFFFFF;
  position: relative;
  margin-right: 16px;
  padding: 9px 16px;
  width: 255px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .off {
  margin: 9px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.2;
  color: #01522D;
}
.hi-fi-wireframe-cart .container-12 {
  margin: 11px 0 7px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .subtotal {
  margin: 18px 32.5px 18px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.2;
  color: #333333;
}
.hi-fi-wireframe-cart .rp-3312000 {
  margin: 0 2.1px 4px 2.1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 1.5;
  color: #777777;
}
.hi-fi-wireframe-cart .rp-2152000 {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 1.333;
  color: #333333;
}
.hi-fi-wireframe-cart .container-33 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .line-311 {
  background: #D93F3F;
  position: absolute;
  top: 12px;
  right: 0px;
  width: 105px;
  height: 0px;
}
.hi-fi-wireframe-cart .container-42 {
  position: relative;
  display: flex;
  padding-right: 0.2px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .container-4 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .container-22 {
  position: relative;
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1046px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .checkout {
  overflow-wrap: break-word;
  font-family: 'Taviraj';
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 1;
  color: #FFFFFF;
}
.hi-fi-wireframe-cart .container-5 {
  background: #D84727;
  position: relative;
  display: flex;
  padding: 22px 0.1px 22px 0;
  width: 1046px;
  box-sizing: border-box;
}
.hi-fi-wireframe-cart .container-32 {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.hi-fi-wireframe-cart .rectangle-49 {
  border: 1px solid #777777;
  position: absolute;
  left: 50%;
  bottom: -1252px;
  translate: -50% 0;
  width: 1110px;
  height: 1334px;
}
.hi-fi-wireframe-cart {
  background: #F7F6F4;
  padding-top: 30px;
  width: 1440px;
  box-sizing: border-box;
}
